{% extends "layouts/base.html" %}

{% block title %}Contact Me - My Portfolio{% endblock %}



{% block content %}
<h1>Contact Me</h1>
<div class="contact-form">
    <form action="/send_message" method="post">
        <input type="text" name="name" placeholder="Your Name" class="form-field">
        <input type="email" name="email" placeholder="Your Email" class="form-field">
        <textarea name="message" placeholder="Your Message" class="form-field" rows="6"></textarea>
        <button type="submit" class="form-button">Send Message</button>
    </form>
</div>
{% endblock content %}
