{% extends "layouts/base.html" %}

{% block title %}Home - My Portfolio{% endblock %}

{%load static%}

{% block content %}
<h1>Welcome to My Portfolio</h1>
<img src="{%static 'images/person.png'%}" alt="Bushra" class="profile-image">
<p>Hello! I'm <strong>Bushra</strong>, this is my portfolio website.</p>

<h2>My Skills</h2>
<table>
    <tr>
        <th>Skill</th>
        <th>Proficiency</th>
    </tr>
    <tr>
        <td>Web Development</td>
        <td>Advanced</td>
    </tr>
    <tr>
        <td>Data Analysis</td>
        <td>Intermediate</td>
    </tr>
</table>
{% endblock content %}
